@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

h1, a {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #F2F2F2;
  --hover-color: rgb(134, 134, 134);
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  background-color: var(--background-color);
  font-size: 1.5rem;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 4rem;
  position: absolute;
  width: 100%;
  z-index: 3;
  background-color: var(--background-color);
}

.toggle-nav {
  position: absolute;
  display: none;
  top: 1.25rem;
  right: 4rem;
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

.navbar-links ul {
  position: relative;
  width: calc(50vw - 4rem);
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-links ul li {
  position: relative;
  list-style: none;
}

.navbar-links ul li a {
  position: relative;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: black;
}

.navbar-links ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  border-right: 8px solid var(--clr);
}

.navbar-links ul li a:hover::before {
  width: 100%;
  -webkit-filter: drop-shadow(0 0 25px var(--clr));
          filter: drop-shadow(0 0 25px var(--clr));
}

.logo {
  width: 35px;
  height: 35px;
}

.logo-container {
  position: absolute;
  top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--background-color);
  border-radius: 1.5rem;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.left > ul {
  width: 50vw;
  list-style: none;
  margin: 0;
  padding: 0;
}

.left > ul > li > a > img {
  width: 50%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: fixed;
}

.left > ul > li > a > h1 {
  position: absolute;
  color: black;
  top: 30%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.right {
  width: calc(50vw - 1rem);
  height: auto;
  position: absolute;
  left: 50%;
  top: 0;
}

.main-content {
  position: absolute;
  top: 32.5vh;
  left: 0;
  padding: 2rem 2rem;
}

.main-content p {
  margin-left: 1rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1360px) and (min-width: 1260px) {
  .navbar-links ul {
    width: calc(50vw - 1rem);
  }
}

@media (max-width: 1260px) {
  .navbar {
    padding: 1.5rem 3rem;
  }
  .toggle-nav {
    right: 3rem;
    display: block;
  }
  .navbar-links {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: calc(3rem + 18px);
    right: 3rem;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    transition: opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    padding: 1rem;
    padding-right: 0;
    border-radius: 1rem;
  }
  .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
  }
  .navbar-links ul li a {
    float: right;
  }
  .navbar-links.active {
    display: block;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: var(--background-color);
  }
}

@media (max-width: 800px) {
  .left > ul {
    display: none;
  }
  .right {
    width: 100%;
    left: 0%;
    top: 30vh;
  }
}

@media (min-height: 600px) and (max-width: 800px) {
  .left > ul {
    display: block;
    position: absolute;
    top: 4.2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 75vw;
    z-index: 1;
  }
  .left > ul > li > a > img {
    height: 45vh;
    width: 100%;
  }
  .left > ul > li > a > h1 {
    top: 7rem;
  }
}
/*# sourceMappingURL=style.css.map */