@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
}
:root{
    --background-color: #F2F2F2;
    --green-from-logo: rgba(91, 255, 0, 1);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    background-color: var(--background-color);
    font-size: 1.5rem;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    position: absolute;
    width: 100%;
    z-index: 3;
}
.toggle-nav{
    position: absolute;
    display: none;
    top: 1.25rem;
    right: 4rem;
}
.navbar-links ul{
    width: calc(50vw - 4rem);
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.navbar-links ul li a{
    text-decoration: none;
    display: block;
    color: black;
    font-weight: bold;
}
.navbar-links li:hover{
    a{
        color: var(--green-from-logo);
    }
}
.logo{
    width: 35px;
    height: 35px;
}
.toggle-nav{
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}
.left > ul{
    width: 50vw;
    list-style: none;
    margin: 0;
    padding: 0;
}
.left > ul > li > a > img{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: -25%;
    z-index: 1;
}
.left > ul > li > a > h1{
    position: absolute;
    color: red;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
}
.right{
    width: calc(50vw - 1rem);
    z-index: 2;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: var(--background-color);
}
.right > .container{
    padding: 1rem;
    h3,
    p{
        margin: 0;
        display: flex;
        justify-content: center;
    }
    height: 100%;
    display: flex;
    gap: 15%;
    align-items: end;
    .arrow{
        .arrow-down{
            width: 40px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
        }
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            a{
                text-decoration: none;
                color: black;
                &:hover{
                    color: var(--green-from-logo);
                }
            }
        }
    }
    p{
        font-weight: bold;
    }
    .rotated{
        position: absolute;
        bottom: 12rem;
        right: -8.5rem;
        transform: rotate(-90deg);
    }
}
.main-content{
    
    position: absolute;
    top: 100vh;
    left: 0;
    padding: 2rem 4rem;

    
    // height: 100vh;
}
.contact{
    display: flex;
    flex-direction: column;
}
@media (max-width: 1550px){
    .right > .container{
        ul{
            display: none;
        }
    }
}

@media (max-width: 1260px){
    .navbar{
        padding: 1.5rem 3rem;
    }
    .toggle-nav{
        right: 3rem;
        display: block;
    }
    .navbar-links{
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: calc(3rem + 40px);
        right: 3rem;
        transform: translateY(-10px);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
        ul{
            flex-direction: column;
            width: 100%;
            padding: 0;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            li a{
                float: right;
            }
        }
    }
    .navbar-links.active{
        display: block;
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
        background-color: var(--background-color);
    } 
}
// @media (max-width: 600px){
//     body{
//         font-size: 1rem;
//     }
//     .navbar{
//         padding: 1rem 2rem;
//     }
//     .toggle-nav{
//         top: .75rem;
//         right: 2rem;
//     }
//     .navbar-links{
//         top: calc(2rem + 30px);
//         right: 2rem;
//     }
//     .logo{
//         width: 25px;
//         height: 25px;
//     }
//     .toggle-nav{
//         max-width: 30px;
//         max-height: 30px;
//     }
// }